#cloud-config
package_update: true
package_upgrade: true
hostname: santiago${node_index}

users:
  - name: root
    ssh_authorized_keys:
      - ${ssh_authorized_keys_yaml}

ssh_pwauth: true
chpasswd:
  list:
    - root:Senha171
  expire: false

write_files:
  - path: /etc/sysctl.d/99-kubernetes.conf
    permissions: '0644'
    content: |
      net.ipv4.ip_forward = 1
      fs.inotify.max_user_instances = 512
      fs.inotify.max_user_watches = 524288
      net.bridge.bridge-nf-call-iptables = 1
      net.bridge.bridge-nf-call-ip6tables = 1

  - path: /etc/netplan/99-dns.yaml
    permissions: '0644'
    content: |
      network:
        version: 2
        ethernets:
          eth0:
            dhcp4: true
            nameservers:
              addresses:
                - 1.1.1.1
                - 8.8.8.8

  - path: /etc/ssh/sshd_config.d/99-custom-port.conf
    permissions: '0644'
    content: |
      Port 22
      Port ${ssh_port}

runcmd:
  - echo "=== Iniciando setup ===" 
  - apt-get update 
  - apt-get install -y snapd jq curl libnetfilter-conntrack3 libnfnetlink0 iptables zfsutils-linux 

  - echo "=== Configurando snapd ===" 
  - systemctl unmask snapd.service snapd.socket || true 
  - systemctl enable snapd.service snapd.socket || true 
  - systemctl start snapd.service snapd.socket || true 
  - hostnamectl hostname santiago${node_index}

  # - echo "=== Instalando LXD ===" 
  # - sleep 5
  # - snap install lxd 
  # - sleep 5
  # - lxd init --auto 
  # - sleep 5
  # - echo "=== LXD instalado com sucesso ===" 

  - echo "=== Instalando MicroK8s ===" 
  - snap install microk8s --channel=1.36/stable --classic 
  - sleep 5
  - snap refresh --hold microk8s 
  - echo "=== MicroK8s instalado com sucesso ===" 

  - sed -i 's/snapshotter = ".*"/snapshotter = "overlayfs"/g' /var/snap/microk8s/current/args/containerd-template.toml
  - grep -qxF -- '--protect-kernel-defaults=false' /var/snap/microk8s/current/args/kubelet || echo '--protect-kernel-defaults=false' >> /var/snap/microk8s/current/args/kubelet
  - grep -qxF -- '--enforce-node-allocatable=""' /var/snap/microk8s/current/args/kubelet || echo '--enforce-node-allocatable=""' >> /var/snap/microk8s/current/args/kubelet

  - mkdir -p /var/snap/microk8s/current/args/cni-network
  - grep -qxF -- '--cni-conf-dir=/var/snap/microk8s/current/args/cni-network' /var/snap/microk8s/current/args/kubelet || echo '--cni-conf-dir=/var/snap/microk8s/current/args/cni-network' >> /var/snap/microk8s/current/args/kubelet

  - sed -i '/^--proxy-mode=/d' /var/snap/microk8s/current/args/kube-proxy
  - echo '--proxy-mode=nftables' >> /var/snap/microk8s/current/args/kube-proxy
  - prlimit --pid=$$ --nofile=1048576:1048576 || true
  - mkdir -p /etc/systemd/system/snap.microk8s.daemon-kubelite.service.d
  - |
    cat <<EOF > /etc/systemd/system/snap.microk8s.daemon-kubelite.service.d/override.conf
    [Service]
    LimitNOFILE=1048576
    LimitNPROC=512000
    EOF
  - systemctl daemon-reload
  - rm -f /var/snap/microk8s/current/var/kubernetes/backend/kine.sock
  - chmod -R 777 /var/snap/microk8s/current/var/kubernetes/backend/

  - sysctl --system
  - ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf || true
  - snap set system refresh.hold=forever

  # - snap restart microk8s &

  # - curl -fsSL https://tailscale.com/install.sh | sh && sudo tailscale up --auth-key=tskey-auth-kge4UdNXv311CNTRL-DHhyKVw9DD1Aj7dqNCrpD1KZsdpQh2K32

  # - curl -fsSL https://pkgs.netbird.io/install.sh | sh
  # - netbird up --setup-key 0F6C131F-EEC5-4AAE-A253-24E55AE27688

  - microk8s status --wait-ready
  - snap alias microk8s.helm3 helm
  - snap alias microk8s.kubectl kubectl
  - snap alias microk8s.kubectl k
  - snap alias microk8s.helm3 h
 